.container{
    padding: 20px;
    width: 250px;
    height: 250px;
    font-family: "Raleway", sans-serif;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 5px 0px rgba(102, 95, 95, 0.75);
    border-radius: 5px;
    margin: 0px ;
    align-items: center;
    font-size: 10px;
    margin: auto;
    word-wrap: break-word;
    margin-bottom: 20px;
    position: relative;
    background-color: rgb(255,255,255);
    
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    top:1%;
    height: 100px;
    border-radius: 10px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
